<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../shower.css" rel="stylesheet" type="text/css">
        <title>Ранее введённые данные</title>
    </head>
    <body>
        <% for(let i = 0; i < rows.length; i++) { %>
            <fieldset class="main_area">
            <% for(let [key, value] of Object.entries(rows[i])) { %>
                <% if(key == 'name') { %>
                    <legend><%= value %></legend>
                <% } else if(key == 'resources') { %>
                    <% for(let [key_i, value_i] of Object.entries(value)) { %>
                        <% if(typeof value_i === 'object') { %>
                            <fieldset class="fragments">
                            <% for(let [key_ii, value_ii] of Object.entries(value_i)) { %>
                                <% if(key_ii != 'name') { %>
                                    <p><%= key_ii %> : <%= value_ii %></p>
                                <% } else { %>
                                    <legend><%= value_ii %></legend>
                                <% } %>
                            <% } %>
                            </fieldset>
                            <br><br>
                        <% } else { %>
                            <label><%= key_i %> : <%= value_i %></label>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <label><%= key %> : <%= value %></label>
                <% } %>
            <% } %>
            </fieldset>
        <% } %>
    </body>
</html>
